.cart-style{
  margin: 10px;
  padding: 10px;
  border: 1px solid gainsboro;
  border-radius: 10px;
}
.cart-details{
  text-align: justify;
}
.add-to-list-btn{
  background-color: rgb(60, 88, 243);
  border: none;
  padding: 15px;
  width: 100%;
  border-radius: 10px;
  color: whitesmoke;
  font-size: 20px;
}