.exercise-container{
  margin-top: 30px;
}
.exercise-time{
  display: flex;
  justify-content: space-between;
  background-color: rgb(225, 231, 236);
  padding: 0 10px;
  border-radius: 10px;
}
.break-time{
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(225, 231, 236);
  padding: 0 10px;
  border-radius: 10px;
}
.exercise-container button{
  margin-top: 40px;
  background-color: rgb(60, 88, 243);
  border: none;
  padding: 15px 40px;
  border-radius: 10px;
  color: whitesmoke;
  font-size: 20px;
}
@media screen and (max-width:575px) {
  .exercise-container {
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;
    }
}